.container-form-new-spot h1 {
  text-align: center;
}

.container-form-booking-new {
   padding: 5px 80px 20px 80px;
}

.new-booking-button {
  display: flex;
  justify-content: space-around;
}

.new-booking-input input {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

