.container-spots-show-image img {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7));
  background-size: cover;
  // background-repeat: no-repeat;
  // background-position: 50% 50%;
  color: white;
  text-align: center;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  height: 300px;
  width: 30%;
}

.container-spots-show {
  display: grid;
  grid-gap: 16px;
  justify-content: space-between;
  margin-top: 20px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-spots-show {
    grid-template-columns: 1fr;
  }
  .container-spots-show-image {
    height: 300px;
    width: 100%;
  }
  .container-spots-show-form  {
    height: 300px;
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-spots-show {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-spots-show {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-spots-show {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-spots-show {
    grid-template-columns: 1fr 1fr;
  }
}


.container-spots-show-image ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   opacity: .7;
}
.container-spots-show-details {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}

.container-spots-show-image img {
  height: 100%;
  width: 100%;
}

.container-spots-show-image {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.container-spots-show-form  {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
}

.container-spots-show-details h1 {
  padding-top: 20px;
}
.container-spots-show-form h1 {
  margin-top: 20px;
}

