<div>
  <div class="map-header">
    <h2><%= spot.title %></h2>
  </div>
  <div class="map-details">
    <p><strong>Price:</strong> <%= spot.price %></p>
    <p><strong>Address:</strong> <%= spot.address %></p>
  </div>
</div>
