<div class="banner">
  <div class="container-index">
    <h1>All Spots</h1>
    <br>
    <%= link_to "Create a new spot", new_spot_path, class: "btn btn-gradient"%>
    <br>
  </div>
</div>

<%= render 'shared/cardlist' %>