<div class="banner">
  <div class="container-index">
    <h1>Spots in Berlin</h1>
    <br>
  </div>
</div>

<div class="container mt-4">
  <% @spots.each do |spot| %>
<<<<<<< Updated upstream
    <div class="card-spot">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
=======
    <div class="card-spot mt-4">
      <%= cl_image_tag spot.photo.key, crop: :fill %>
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
>>>>>>> Stashed changes
      <div class="card-spot-infos">
        <div>
          <h2><%= link_to spot.title, spot_path(spot) %></h2>
          <p><%= spot.description %></p>
        </div>
        <h2 class="card-spot-pricing"><%=spot.price%>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-spot-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
