// Specific CSS for your home-page

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 200px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#mauerpark img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

#raw img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

#nowkoelln img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

