<%= simple_form_for [spot, booking] do |f| %>
  <br>
  <div class="form-inputs">
    <%= f.input :date, as: :string, input_html: { class: "datepicker"} %>
  </div>
  <br>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

