<%= simple_form_for [spot, booking] do |f| %>
  <br>
  <div class="form-inputs">
    <%= f.input :date %>
  </div>
  <br>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<% end %>

