<div class="banner">
  <div class="container">
    <h1 id="banner-headline">Flea Market Hub</h1>
    <br>
    <p>Find all flea market spots in your city - book it fast and easy.</p>
    <br>

    <div class="container mt-2" id="container-home">
      <div class="search-form">
        <%= render 'shared/search-form' %>

      </div>
    </div>
      <div class="btns">
      <%= link_to 'View all spots', spots_path, class: "btn btn-purple"%>
      <%= link_to "Create a new spot", new_spot_path, class: "btn btn-purple", id:"new-spot"%>
      </div>
  </div>
</div>


