<div class="banner">
  <div class="container">
    <h1>Flea Market Hub</h1>
    <br>
    <p>Find all available flea market spots in your city and book it fast and easy.</p>
    <br>

    <div class="homepage-buttons mt-2">
      <%= link_to 'View all spots', spots_path, class: "btn btn-gradient"%>
      <%= link_to "Create a new spot", new_spot_path, class: "btn btn-gradient"%>
    </div>
  </div>
</div>


