<%= render 'shared/banner' %>
<br>
<div class="container">
  <h2> Search Results </h2>
  <%= render 'shared/cardlist' %>
  <div class="homepage-popular-flea-markets mt-4">
    <h3> Most popular flea-market spots in Berlin </h3>
    <div class="cards mt-4">
      <div class="card-category" id="mauerpark">
        Mauerpark
      </div>
      <div class="card-category" id="raw">
        RAW
      </div>
      <div class="card-category" id="nowkoelln">
        Nowkoelln
      </div>
    </div>
  </div>

  <div class="homepage-workflow">
    <h3> How does it work? </h3>
    <p> Here will be a description of the cool platform we created </p>
  </div>


</div>

<br>
<br>
