.banner {
  height: 450px;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("nowkoelln.jpeg"));
.btn-pink {
  border-radius: 0 4px 4px 0 !important;
  position: relative;
  left: -20px;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
