.btn-confirm {
  color: white;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-confirm:hover {
  color: white;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 4px;
  background: #8B8C89;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-decline {
  color: white;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 4px;
  background: grey;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-decline:hover {
  color: white;
  font-weight: bolder;
  padding: 4px 8px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
}


.btn-pink:hover {
  background: #8B8C89;
  color: white;
  text-decoration: none;
}




.btn-pink {
  color: white;
  font-weight: bolder;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 8px 24px;
  border-radius: 4px;
  position: relative;
  background: $pink;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-pink:hover {
  background: #8B8C89;
  color: white;
  text-decoration: none;
}

.btn-purple {
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8B8C89;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-purple:hover {
  color: white;
  font-weight: bolder;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pink;
  transition: background 0.3s ease;
  text-decoration: none;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
