// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/spots/show";
@import "pages/spots/indexmyspots";
@import "pages/spots/new";
@import "pages/spots/edit";
@import "pages/user/show";
@import "pages/user/edit";
@import "pages/bookings/show";

// Graphical essentials
@import "components/footer";
@import "components/navbar";

a {
  color: $pink;
  text-decoration: none;
}

a:hover {
  color: $purple;
  text-decoration: none;
}
